body{
background-color:red;

}
h1{
	font-size: 32px;
	font-family: "Arial"
	
}
h2,p{
	font-family: "Arial"
}
.texts
{
vertical-align: middle;
min-height:15px;
}
#first
{
	background-color:white;
	width: 1300px;
	height: 570px;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;
	margin-bottom:10px;
}
#second
{
	background-color:lightgrey;
	width: 900px;
	height: 420px;
	margin-left: 20px;
	margin-right: auto;
	margin-top:60px;
	margin-bottom:10px;
}
#buttton
{
	
margin-left:605px;
margin-top:40px;
font-family: "Arial"

}
#texter1
{
	width:55px;
}
#texter2
{
	width:55px;
}
#texter3
{
	width:55px;
}
#texter4
{
	width:55px;
}
#texter5
{
	width:55px;
}
#texter6
{
	width:55px;
}
#texter7
{
	width:55px;
}
#texter8
{
	width:55px;
}
#pad{
  background-color: #4CAF50;
  padding:30px;
  border: 10px solid blue;
  
}
.divTable{
	display: table;
	width: 90%;
	margin-left:10px;
}
.divTableRow {
	display: table-row;
	font-family: "Arial"
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
